body {
    background-image: url('/home/quentin/Code/fiche/image/suchbg.png');
    background-size: cover;
}

h1 {
    color: black;
    font-size: 3em;
    text-align: center;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    border: 10px double;
    padding: 4px;
    font-family: Verdana, sans-serif;
}

p {
    font-size: 1em;
}

ul {
    font-family: Verdana, sans-serif;
}

a {
    color: red;
    background-color: black;
}

a:hover {
    background-color: yellow;
}

#doge {
    background-image: url('/home/quentin/Code/fiche/image/danger.jpg');
    background-size: 100%;
    background-position: center;
    width: 450px;
    height: 337px;
    float: right;
}

#doge:hover {
    background-image: url('/home/quentin/Code/fiche/image/danger.gif');
    background-size: 100%;
    background-position: center;
    width: 450px;
    height: 337px;
}

label {
    color: red;
}

label.Yolo {
    color: blue;
}
